# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Dataset
*.txt
*.zip

# Local environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# TensorFlow
*.h5
*.keras

# Logs
logs/